pre {
    padding: 5px;
    font-size: 0.9em;
    font-family: "YaHei Consolas Hybrid";
    border-radius: 4px;
    background-color: #2b2b2b;
}
pre code {
    display: block;
}
pre .string { color: green; }
pre .numryt ber { color: darkorange; }
pre .boolean { color: blue; }
pre .null { color: magenta; }
pre .key { color: red; }

.w-e-toolbar {
    flex-wrap: wrap
}
.w-e-text code {
    margin: 0;
}
.quillWrapper {
    display: flex;
    flex-direction: column;
}
.quillWrapper .ql-container.ql-snow {
    height: auto;
    flex-grow: 1;
    overflow: auto;
}
::-webkit-scrollbar {
    display: none
}